requests==2.28.1
beautifulsoup4==4.12.2
pandas==2.1.0
SQLAlchemy==2.0.20
PyMySQL==1.1.0

# TODO: fully segregate dev and prod deps to different files later
pytest
pytest-cov
flake8
pyproject-flake8
black
isort